body{
    background-image: url(/img/pngtree-retro-style-80s-sci-fi-background-image_338382.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;

    padding-top: 70px;
}

img{
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
}

p, h1, h2, h3 {
    color: #adb5bd;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.style-card{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#nav{
    background-color: #6610f2;
}

#wtext{
    color: white;
}
